* {
	color: #fff;
	user-select: none;
	padding: 0;
	margin: 0;
	font-family: 'PaydayFont';
	text-transform: uppercase;
}

@font-face {
	font-family: 'PaydayFont';
	src: local('PaydayFont'), url('./fonts/DINEngschrift.woff') format('woff');
}