* {
	user-select: none;
	padding: 0;
	margin: 0;
	font-family: 'PaydayFont';
	text-transform: uppercase;
}

h1 {
	color: #fff;
	font-weight: normal;
	font-size: 1rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
	color: #0F639F;
	font-size: 1rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div {
	scrollbar-color: #fff rgba(0, 0, 0, 0);
}

@font-face {
	font-family: 'PaydayFont';
	src: local('PaydayFont'), url('./fonts/DINEngschrift.woff') format('woff');
}